html {
    font-size: 2.36686931vw;
}

.screen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.board{
    position: relative;
    margin-top: 0.25rem;
    margin-right: 2rem;
    margin-left: 3rem;
    width: 13.5rem;
    height: 13.5rem;
}

.grid{
    display: flex;
}

.box{
    position: relative;
    box-sizing: border-box;
    width: 1.5rem;
    height: 1.5rem;
    background-color: grey;
    border: 0.025rem solid #333333;
}

.seqBox{
    position: relative;
    box-sizing: border-box;
    width: 1.25rem;
    height: 1.25rem;
    background-color: grey;
    border: 1px solid #333333;
}

.white{
    background-color: #ffffff;
}

.blue11{
    background: url(./images/blue1.png);
}

.blue12{
    background: url(./images/blue1.png);
    transform: rotate(90deg);
}

.blue13{
    background: url(./images/blue1.png);
    transform: rotate(180deg);
}

.blue14{
    background: url(./images/blue1.png);
    transform: rotate(270deg);
}

.blue21{
    background: url(./images/blue2.png);
}

.blue22{
    background: url(./images/blue2.png);
    transform: rotate(90deg);
}

.blue23{
    background: url(./images/blue2.png);
    transform: rotate(180deg);
}

.blue24{
    background: url(./images/blue2.png);
    transform: rotate(270deg);
}

.blue31{
    background: url(./images/blue3.png);
}

.blue32{
    background: url(./images/blue3.png);
    transform: rotate(90deg);
}

.blue33{
    background: url(./images/blue3.png);
    transform: rotate(180deg);
}

.blue34{
    background: url(./images/blue3.png);
    transform: rotate(270deg);
}

.red11{
    background: url(./images/red1.png);
}

.red12{
    background: url(./images/red1.png);
    transform: rotate(90deg);
}

.red13{
    background: url(./images/red1.png);
    transform: rotate(180deg);
}

.red14{
    background: url(./images/red1.png);
    transform: rotate(270deg);
}

.red21{
    background: url(./images/red2.png);
}

.red22{
    background: url(./images/red2.png);
    transform: rotate(90deg);
}

.red23{
    background: url(./images/red2.png);
    transform: rotate(180deg);
}

.red24{
    background: url(./images/red2.png);
    transform: rotate(270deg);
}

.red31{
    background: url(./images/red3.png);
}

.red32{
    background: url(./images/red3.png);
    transform: rotate(90deg);
}

.red33{
    background: url(./images/red3.png);
    transform: rotate(180deg);
}

.red34{
    background: url(./images/red3.png);
    transform: rotate(270deg);
}

.yellow11{
    background: url(./images/yellow1.png);
}

.yellow12{
    background: url(./images/yellow1.png);
    transform: rotate(90deg);
}

.yellow13{
    background: url(./images/yellow1.png);
    transform: rotate(180deg);
}

.yellow14{
    background: url(./images/yellow1.png);
    transform: rotate(270deg);
}

.yellow21{
    background: url(./images/yellow2.png);
}

.yellow22{
    background: url(./images/yellow2.png);
    transform: rotate(90deg);
}

.yellow23{
    background: url(./images/yellow2.png);
    transform: rotate(180deg);
}

.yellow24{
    background: url(./images/yellow2.png);
    transform: rotate(270deg);
}

.yellow31{
    background: url(./images/yellow3.png);
}

.yellow32{
    background: url(./images/yellow3.png);
    transform: rotate(90deg);
}

.yellow33{
    background: url(./images/yellow3.png);
    transform: rotate(180deg);
}

.yellow34{
    background: url(./images/yellow3.png);
    transform: rotate(270deg);
}

.green11{
    background: url(./images/green1.png);
}

.green12{
    background: url(./images/green1.png);
    transform: rotate(90deg);
}

.green13{
    background: url(./images/green1.png);
    transform: rotate(180deg);
}

.green14{
    background: url(./images/green1.png);
    transform: rotate(270deg);
}
.green21{
    background: url(./images/green2.png);
}

.green22{
    background: url(./images/green2.png);
    transform: rotate(90deg);
}

.green23{
    background: url(./images/green2.png);
    transform: rotate(180deg);
}

.green24{
    background: url(./images/green2.png);
    transform: rotate(270deg);
}

.green31{
    background: url(./images/green3.png);
}

.green32{
    background: url(./images/green3.png);
    transform: rotate(90deg);
}

.green33{
    background: url(./images/green3.png);
    transform: rotate(180deg);
}

.green34{
    background: url(./images/green3.png);
    transform: rotate(270deg);
}


.corner{
    background-color: black;
}

.chooseBorder{
    border: 0.075rem solid #333333;
}

.sequenceNumber-wrap{
    width: 14.75rem;
    margin: 0.5rem 0;
}

.sequenceNumber{
    display: flex;
    align-items: flex-start;
}

.sequenceNumberInput{
    box-sizing: border-box;
    margin: 0 0.25rem;
    width: 6.05rem;
    padding: 0.3rem;
    font-size: 0.7rem;
    overflow: hidden;
    resize: vertical;
}

.sequenceNumberInput:focus{
    outline: none;
}

.submit{
    border-radius: 0.05rem;
    padding: 0 0.2rem;
    border: 1px solid black;
}


.tips{
    color: red;
    margin: 0 0 0.25rem 0;
}

.sequence{
    display: flex;
    flex-wrap: wrap;
    width: 18.75rem;
}

.addGrid{
    font-size: 1.25rem;
    color: white;
    text-align: center;
    line-height: 1.3rem;
}

.person{
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: brown;
    z-index: 999;
}

.monster{
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #ffffff;
}

.imgWrap{
    width: 80%;
    min-height: 6rem;
    display: flex;
    flex-wrap: wrap;
}

.pic{
    margin: 0.5rem 0.25rem;
    width: 5rem;
    height: 5rem;
}

.line{
    position: absolute;
    background-color: #fff;
    z-index: 99;
}

.bottomWrap{
    width: 100%;
    display: flex;
    justify-content: center;
}