.screen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* .explain{
    height: 130px;
} */

.board{
    position: relative;
    margin-top: 10px;
    margin-right: 80px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    width: 540px;
    height: 540px;
}

.grid{
    display: flex;
}

.box{
    position: relative;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    background-color: grey;
    border: 1px solid #333333;
}

.seqBox{
    position: relative;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    background-color: grey;
    border: 1px solid #333333;
}

.white{
    background-color: #ffffff;
}

.blue11{
    background: url(./images/zsprites.png) ;
    background-position: top 0 left 0;
    background-repeat: no-repeat;
}

.blue12{
    background: url(./images/zsprites.png) ;
    background-position: top -60 left 0;
    background-repeat: no-repeat;
}

.blue13{
    background: url(./images/zsprites.png) ;
    background-position: top -120px left 0;
    background-repeat: no-repeat;
}

.blue14{
    background: url(./images/zsprites.png) ;
    background-position: top -180px left 0;
    background-repeat: no-repeat;
}

.blue21{
    background: url(./images/zsprites.png) ;
    background-position: top -240px left 0;
    background-repeat: no-repeat;
}

.blue22{
    background: url(./images/zsprites.png) ;
    background-position: top -300px left 0;
    background-repeat: no-repeat;
}

.blue23{
    background: url(./images/zsprites.png) ;
    background-position: top -360px left 0;
    background-repeat: no-repeat;
}

.blue24{
    background: url(./images/zsprites.png) ;
    background-position: top -420 left 0;
    background-repeat: no-repeat;
}

.blue31{
    background: url(./images/zsprites.png) ;
    background-position: top -480px left 0;
    background-repeat: no-repeat;
}

.blue32{
    background: url(./images/zsprites.png) ;
    background-position: top -540px left 0;
    background-repeat: no-repeat;
}

.blue33{
    background: url(./images/zsprites.png) ;
    background-position: top -600px left 0;
    background-repeat: no-repeat;
}

.blue34{
    background: url(./images/zsprites.png) ;
    background-position: top -660px left 0;
    background-repeat: no-repeat;
}

.green11{
    background: url(./images/zsprites.png) ;
    background-position: top -720px left 0;
    background-repeat: no-repeat;
}

.green12{
    background: url(./images/zsprites.png) ;
    background-position: top -780px left 0;
    background-repeat: no-repeat;
}

.green13{
    background: url(./images/zsprites.png) ;
    background-position: top -840px left 0;
    background-repeat: no-repeat;
}

.green14{
    background: url(./images/zsprites.png) ;
    background-position: top -900px left 0;
    background-repeat: no-repeat;
}
.green21{
    background: url(./images/zsprites.png) ;
    background-position: top -960px left 0;
    background-repeat: no-repeat;
}

.green22{
    background: url(./images/zsprites.png) ;
    background-position: top -1020px left 0;
    background-repeat: no-repeat;
}

.green23{
    background: url(./images/zsprites.png) ;
    background-position: top -1080px left 0;
    background-repeat: no-repeat;
}

.green24{
    background: url(./images/zsprites.png) ;
    background-position: top -1140px left 0;
    background-repeat: no-repeat;
}

.green31{
    background: url(./images/zsprites.png) ;
    background-position: top -1200px left 0;
    background-repeat: no-repeat;
}

.green32{
    background: url(./images/zsprites.png) ;
    background-position: top -1260px left 0;
    background-repeat: no-repeat;
}

.green33{
    background: url(./images/zsprites.png) ;
    background-position: top -1320px left 0;
    background-repeat: no-repeat;
}

.green34{
    background: url(./images/zsprites.png) ;
    background-position: top -1380px left 0;
    background-repeat: no-repeat;
}

.red11{
    background: url(./images/zsprites.png) ;
    background-position: top -1440px left 0;
    background-repeat: no-repeat;
}

.red12{
    background: url(./images/zsprites.png) ;
    background-position: top -1500px left 0;
    background-repeat: no-repeat;
}

.red13{
    background: url(./images/zsprites.png) ;
    background-position: top -1560px left 0;
    background-repeat: no-repeat;
}

.red14{
    background: url(./images/zsprites.png) ;
    background-position: top -1620px left 0;
    background-repeat: no-repeat;
}

.red21{
    background: url(./images/zsprites.png) ;
    background-position: top -1680px left 0;
    background-repeat: no-repeat;
}

.red22{
    background: url(./images/zsprites.png) ;
    background-position: top -1740px left 0;
    background-repeat: no-repeat;
}

.red23{
    background: url(./images/zsprites.png) ;
    background-position: top -1800px left 0;
    background-repeat: no-repeat;
}

.red24{
    background: url(./images/zsprites.png) ;
    background-position: top -1860px left 0;
    background-repeat: no-repeat;
}

.red31{
    background: url(./images/zsprites.png) ;
    background-position: top -1920px left 0;
    background-repeat: no-repeat;
}

.red32{
    background: url(./images/zsprites.png) ;
    background-position: top -1980px left 0;
    background-repeat: no-repeat;
}

.red33{
    background: url(./images/zsprites.png) ;
    background-position: top -2040px left 0;
    background-repeat: no-repeat;
}

.red34{
    background: url(./images/zsprites.png) ;
    background-position: top -2100px left 0;
    background-repeat: no-repeat;
}

.yellow11{
    background: url(./images/zsprites.png) ;
    background-position: top -2160px left 0;
    background-repeat: no-repeat;
}

.yellow12{
    background: url(./images/zsprites.png) ;
    background-position: top -2220px left 0;
    background-repeat: no-repeat;
}

.yellow13{
    background: url(./images/zsprites.png) ;
    background-position: top -2280px left 0;
    background-repeat: no-repeat;
}

.yellow14{
    background: url(./images/zsprites.png) ;
    background-position: top -2340px left 0;
    background-repeat: no-repeat;
}

.yellow21{
    background: url(./images/zsprites.png) ;
    background-position: top -2400px left 0;
    background-repeat: no-repeat;
}

.yellow22{
    background: url(./images/zsprites.png) ;
    background-position: top -2460px left 0;
    background-repeat: no-repeat;
}

.yellow23{
    background: url(./images/zsprites.png) ;
    background-position: top -2520px left 0;
    background-repeat: no-repeat;
}

.yellow24{
    background: url(./images/zsprites.png) ;
    background-position: top -2580px left 0;
    background-repeat: no-repeat;
}

.yellow31{
    background: url(./images/zsprites.png) ;
    background-position: top -2640px left 0;
    background-repeat: no-repeat;
}

.yellow32{
    background: url(./images/zsprites.png) ;
    background-position: top -2700px left 0;
    background-repeat: no-repeat;
}

.yellow33{
    background: url(./images/zsprites.png) ;
    background-position: top -2760px left 0;
    background-repeat: no-repeat;
}

.yellow34{
    background: url(./images/zsprites.png) ;
    background-position: top -2820px left 0;
    background-repeat: no-repeat;
}

.corner{
    background-color: black;
}

.chooseBorder{
    border: 3px solid #333333;
}

.sequenceNumber-wrap{
    width: 590px;
    margin: 20px 0;
}

.sequenceNumber{
    display: flex;
    align-items: flex-start;
}

.sequenceNumberInput{
    box-sizing: border-box;
    margin: 0 10px;
    width: 242px;
    padding: 12px;
    font-size: 28px;
    overflow: hidden;
    resize: vertical;
}

.sequenceNumberInput:focus{
    outline: none;
}

.submit{
    border-radius: 2px;
    padding: 0 8px;
    border: 1px solid black;
}


.tips{
    color: red;
    margin: 0 0 10px 0;
}

.sequence{
    display: flex;
    flex-wrap: wrap;
    width: 750px;
}

.addGrid{
    font-size: 50px;
    color: white;
    text-align: center;
    line-height: 52px;
}

.person{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: brown;
    z-index: 999;
    color: white;
    text-align: center;
    line-height: 25px;
}

.monster{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #ffffff;
}

.imgWrap{
    width: 80%;
    min-height: 240px;
    display: flex;
    flex-wrap: wrap;
}

.pic{
    margin: 20px 10px;
    width: 200px;
    height: 200px;
}

.line{
    position: absolute;
    background-color: #fff;
    z-index: 99;
}

.bottomWrap{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.savebtn{
    margin-right: 10px;
}